
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0 auto;
  line-height: 1;
}

*,*:before,*:after{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;

}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-*/

.border {
  border: 1px solid;
}

BODY {
  background: url(../img/1.svg);
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  /* position: fixed; */
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding-left: 125px;
  padding-right: 125px;
  top: 0; 
  overflow-x: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding-left: 125px;
  padding-right: 125px;
  overflow-x:hidden;
  overflow-y:hidden;
  margin-top: 120px;
  /* margin-bottom: 500px; */
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /* max-width: 1366px; */
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-left: 125px;
  padding-right: 125px; 
  /* margin-bottom: 500px; */
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /* max-width: 1366px; */
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;
  /* margin-bottom: 150px; */
  width: 100%;
  /* height: 20px; */
}

.header-menu-ul {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  /* width: 100%; */
}



.header-menu-ul__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-menu-ul__menu li {
  margin-right: 108px;
}

.header-menu-ul__menu a {
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;

}

.header-menu-ul__menu a:hover {
  color: #2F44FF;
}

.header-menu-ul__menu li:last-child {
  margin-right: 0;
}

.label-switch {
  position: relative;
  /* display: inline-block; */
  width: 60px;
  height: 30px;
}

.label-switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .1s;
  transition: .3s;
  border-radius: 14px;
  /* border: 1px solid; */
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 2.4px;
  /* background-color: white; */
  background-image: url(../img/moon.svg);
  background-repeat: no-repeat;
  -webkit-transition: .1s;
  transition: .3s;
}

input:checked + .slider {
  background-color: #2196F3;
}


input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 36px;
}


.slider.round:before {
  border-radius: 50%;
}

.margin-right-ul li:first-child {
  margin-right: 20px;
}

/* .margin-right-ul {
  margin-right: 565px;
} */

.margin-right-label {
  margin-right: 15px;   
}

.margin-right-p {
  margin-right: 80px;   
}

.p-like {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
} 

.header-menu-ul__menu li {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}


.header-menu-ul__menu li:hover {
  cursor: pointer;
  color: #2F44FF;
}

body.dark .header-menu-ul__menu li:hover {
  cursor: pointer;
  color: #2F44FF;
}

body.dark .header-menu-ul__menu a:hover {
  cursor: pointer;
  color: #2F44FF;
}

.header-heading_gamification {
    /* position: absolute; */
    animation: rotate 24s infinite linear;
    width: 431.55px;
    /* height: 429px; */
    z-index: 4;
    /* margin-left: calc(-25vw + 100%); */
    left: 1400px;
    /* top: -68px; */
    margin-top: -368px;
    margin-left: 1078px;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}

.header-heading {
  display: flex;
  flex-direction: column; 
  width: 100%;
  margin-bottom: 220px;
} 

.header-heading__heading {
  width: 100%;
  /* margin-bottom: 20px; */
}

/* .header-heading__heading:nth-child(2){
  display: flex;
  justify-content: flex-end;
} */


.h1-like-one {
  font-family: 'Druk Text Wide Cyr';
  font-style: super;
  font-weight: 900;
  font-size: 90px;
  line-height: 114px;
  color: #000000;
  margin-bottom: 30px;
}

.h1-like-two {
  font-family: 'Druk Text Wide Cyr';
  font-style: super;
  font-weight: 900;
  font-size: 90px;
  line-height: 114px;
  /* border: 2px solid #2F44FF; */
  color: white;
  text-shadow: #2F44FF  1px  1px 0, 
               #2F44FF -1px -1px 0, 
               #2F44FF -1px  1px 0, 
               #2F44FF  1px -1px 0;
  /* margin-right: 240px; */
  /* text-shadow: black; */
  margin-right: 50px;
  margin-bottom: 30px;
}


.h1-like-three {
  font-family: 'Druk Text Wide Cyr';
  font-style: super;
  font-weight: 900;
  font-size: 90px;
  line-height: 114px;
  color: #000000;  
}

.header-heading-pading__heading {
  display: flex;
  justify-content: flex-end;
  padding-right: 140px;
}


.header-heading__anchor {
  margin-top: 120px;
  display: flex;
  justify-content: center;
}

.achor .stroke-color {
  stroke: black;
}

.achor .fill-color {
  cursor: pointer;
  fill: black;
}


.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 180px;
}

.h2-like {
  font-family:  'Druk Text Wide Cyr';
  font-style: normal;
  font-weight: 999;
  font-size: 50px;
  line-height: 150%;
  color: #000000;
  width: 230px;
}

.main-content-ul__list li {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
  border-bottom: 1px solid;
  cursor: pointer;
  padding-bottom: 30px;
  margin-bottom: 30px;
  margin-top: 10px;  
}

.main-content-ul__list li:hover {
  color: #2F44FF;
  cursor: pointer;
  cursor: url(../img/cursor.cur) 2 2, pointer;
}

body.dark {
  /* background: #000; */
  /* Rectangle */
  background: url(../img/44.png);

}

/* body.dark .header, body.dark .main, body.dark .footer {
  background: url(../img/Rectangle.svg);
} */


body.dark .h1-like-one, body.dark .h1-like-three, body.dark .p-like, body.dark .header-menu-ul__menu li, body.dark .header-menu-ul__menu a {
  color: white;
  /* text-shadow: #2F44FF  2px  2px 0, 
               #2F44FF -2px -2px 0, 
               #2F44FF -2px  2px 0, 
               #2F44FF  2px -2px 0;  */
  /* text-shadow: #5dc8e5 0 0 10px; */
}

body.dark .main-content-ul__list li:hover{
  /* color: white; */
  color: #2F44FF;
}

body.dark .main-content-ul__list li, body.dark .h2-like{
  color: white;
}

body.dark .h1-like-two {
  
  color: #2F44FF;
  text-shadow: #000000 0 0 20px;
  color: #2F44FF;
}

body.dark .achor {
  fill: red;
  cursor: pointer;
}

body.dark .achor .stroke-color {
  stroke: white;
}

body.dark .achor .fill-color {
  fill: white;
}
 

.main-content-case {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1366px;
  margin-bottom: 300px;
}

.main-content-case-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 150px;
}

.main-content-case-container__header {
  margin-bottom: 150px;
}

.h1-case {
  font-family: 'Druk Text Wide Cyr';
  font-style: normal;
  font-weight: 999;
  font-size: 50px;
  line-height: 63px;
  color: #000000;
}

.main-content-case-container__name_case_one {
  margin-bottom: 30px;
}

.h2-name_case {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #000000;
}

.main-content-case-container__description_case {
  margin-bottom: 100px;
}

.p-case {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 170%;
  color: #000000;
  width: 570px;
}

.main-content-case-container__switch_case {
  display: flex;
  flex-direction: row;
  margin-bottom: 180px;
}

.__switch_case_back {
  margin-right: 65px;
}

.main-content-case-container___see_more {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.main-content-case_round {
  background-image: url(../img/cubes.png);
  width: 550px;
  height: 550px;
  margin-top: 141px;
  cursor: pointer;
}

.main-content-case_round:hover{
  background-image: url(../img/see-presentation.svg);
  width: 550px;
  height: 550px;
  border-radius: 275px;
}

@media screen and (max-width: 1366px) {
  .main-content-case_round img {
    width: 500px;
    height: 500px;
  }
  .main-content-case-container {
    margin-right: 100px;
  }
}



.main-content-case-container___see_more_img svg {
  cursor: pointer;
  animation: scale 1s;
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  width: 145px;
}


/* .__switch_case_back, .__switch_case_go {
  cursor: pointer;
  animation: rotate 2s infinite linear;
  transform: scaleY(1.2);
} */


.__switch_case_back:hover, .__switch_case_go:hover {
  cursor: pointer;
  animation: scale 1s;
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}


.stroke-plus {
  stroke: black;
}

body.dark .stroke-plus {
  stroke: white;
}


@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}


body.dark .h1-case, body.dark .h2-name_case, body.dark .p-case{
  color: white;
}


.stroke-color2 {
  stroke:black;
}

.fill-color2 {
  fill: black;
}

body.dark .stroke-color2 {
  stroke:white;
}


body.dark .fill-color2 {
  fill: white;
}

/* body.dark .__switch_case_go .stroke-color2:hover{
  stroke: tomato;
} */

.main-content-container-about {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  width: 100%;
  margin-bottom: 150px;
}

.main-content-container__about_us {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 100%; */
  margin-right: 150px;
  
}
.name-right {
  margin-right: 30px;
}

.header__about-us {
  display: flex;
  justify-content: center;
  margin-bottom: 258px;
}

.h1-about_us {
  font-family: 'Druk Text Wide Cyr';
  font-style: normal;
  font-weight: 999;
  font-size: 50px;
  line-height: 63px;
  color: #000000;
  width: 300px;
}

.gamification__about-us {
  animation: rotate 24s infinite linear;
  width: 431.55px;
}

.main-content-container-info__about-us {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 100%;
  margin-top: 120px;
}
.h3-name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.underscore {
  width: 100%;
  border: 0.5px solid #000;
  margin-bottom: 50px;
}
.description_name {
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
}
.p-name {
  width: 370px;
}

.__about-us__num {
  display: flex;
  flex-direction: row;
}

.h1-num {
  font-family: 'Druk Text Wide Cyr';
  font-style: normal;
  font-weight: 999;
  font-size: 50px;
  line-height: 63px;
  color: #000000;
  text-align: center;
}
.right-num {
  margin-right: 70px;
}

.right-num:last-child {
  margin-right: 0px;
}

.header__name {
  margin-bottom: 50px;
}

.header-stages-of-development {
  margin-bottom: 100px;
}

.h1-dev {
  font-family: 'Druk Text Wide Cyr';
  font-style: normal;
  font-weight: 999;
  font-size: 50px;
  line-height: 63px;
  color: #000000;
}

.ul-list-stages-of-development {
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.li_dev-icon {
  margin-bottom: 40px;
}

.li-header-dev {
  margin-bottom: 19px;
}

.h3-dev {
  font-family: 'Druk Text Wide Cyr';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}

.p-dev {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  width: 330px;
}


.li-list:nth-child(3n + 2) {
  margin-top:50px;
}

.li-list:nth-child(3n + 3) {
  margin-top:100px;
}

body.dark .h1-about_us,
body.dark .h3-name,
body.dark .p-name,
body.dark .h1-dev,
body.dark .p-dev,
body.dark .h1-num,
body.dark .__num p {
  color: white;
}

body.dark .underscore {
  border: 0.5px solid white;
}

.main-content-stages-of-development {
  margin-bottom: 200px;
}

.main-content-tell-us-about-your-project {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  width: 100%;
  max-width: 1366px;
  margin-bottom: 165px;
}

.main-content-continer__tell-us__about-your-project {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1366px;
}

.h1-tell-us {
  font-family: 'Druk Text Wide Cyr';
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 63px;
  color: #000000;
  margin-bottom: 40px;
}

.__about-your-project {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 150px;
}

.h1-about-your-project {
  font-family: 'Druk Text Wide Cyr';
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 63px;
  color: #000000;
  margin-right: 150px;
}

/**-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-**/

/* .main-content-container-form {
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  width: 100%;
} */

/* 
.formtest {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px 50px 0px 130px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
} */

.formtest {
  visibility: hidden;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px 50px 0px 130px; */
}

.formtest.active {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px 50px 0px 130px;
  visibility: visible;
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(0);
  }
}

.group {
  position: relative;
  /* margin:10px 10px 45px 10px; */
  margin:0px 120px 45px 0px;

  flex-grow: 1;
  /* width: calc(100% * (1/2) - 10px - 10px) */
  width: calc(100% * (1/2) - 10px - 50px)
}

.group:nth-child(2n+1) {
  margin: 0;
}

/* .formtest {
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  margin: 0px 50px 0px 130px;
}


.group {
  position:relative; 
  margin-bottom:45px;
  width: 100%;
} */

.input {
  font-size:18px;
  padding:10px 10px 10px 5px;
  /* width:450px; */
  border:none;
  border-bottom:1px solid #757575;
  background: transparent;
  width: 100%;
}

.label {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#99999c;
}

.group1 {
  position:relative; 
  margin-bottom:45px;
  /* width: 450px; */
  width: 100%;
}

.input1 {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  width: 100%;
  /* max-width: 450px; */
  border: none;
  border-bottom: 1px solid #757575;
  background: transparent;
}

.__tell-us { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.__tell-us svg {
  cursor: pointer;
}

.label1 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.input1:focus ~ label, input1:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#99999c;
}



.select {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
  background: transparent;
}


.stroke-form {
  stroke: #000;
}

.fill-form {
  fill: #000;
}

body.dark .stroke-form {
  stroke: white;
}

body.dark .fill-form {
  fill: white;
}

body.dark .h1-tell-us, body.dark .h1-about-your-project {
  color: white;
}

body.dark .option-disabled-selected p{
  color: white;
}

body.dark .label, body.dark .input, body.dark .input1, body.dark .label1 {
  color: white;
}

.footer-line {
  background: #505050;
  width: 100%;
  height: 0.5px;
  margin-bottom: 50px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.p-footer {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 20px;
}


.footer-adress:nth-child(3){
  display: flex;
  flex-direction: row;
}

.svg svg {
  margin-right: 20px;
}

.submit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}


body.dark .p-footer {
  color: white;
}

.fill-social {
  fill: black;
}

body.dark .fill-social {
  fill: white;
}

.stroke-see-more {
  stroke: black;
}

body.dark .stroke-see-more {
  stroke: white;
}

.fill-see-more {
  fill: black;
}

body.dark .fill-see-more {
  fill: white;
}

.fill {
  fill: black;
}

body.dark .fill {
  fill: white;
}

body.dark .h3-dev {
  color: white;
}

.stroke-sent {
  stroke: black;
}


body.dark .stroke-sent {
  stroke: white;
}

.sent {
  cursor: pointer;
}

.main-content-case_round1 {
  display: none;
}

.header-heading__heading_test {
  display: none;
}

.menu {
  visibility: hidden;
}

.write-button-2 {
  display: none;
}


@media screen and (max-width: 1366px) {

    .main-swiper-container {
        width: 550px;
    }

    .h1-like-one {
      font-size: 65px;
    }

    .h1-like-two {
      width: 100%;
      font-size: 65px;
      margin-left:63px;
    }

    .h1-like-three {
      font-size: 65px;
    }

    .main-content-ul__list li {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 27px;
      line-height: 49px;
      color: #000000;
      border-bottom: 1px solid;
      cursor: pointer;
      padding-bottom: 30px;
      margin-bottom: 30px;
      margin-top: 10px;  
    }

    .h2-like {
      font-size: 40px;
    }

    .main-content-case_round_2 {
      margin-top: 100px;
    }

    .main-content-case_round_2 {
      background-image: url(../img/cubes-2.svg);
      width: 420px;
      background-repeat: no-repeat;
      cursor: pointer;
    }

    .main-content-case_round_2:hover {
      background-image: url(../img/sep.svg);
      width: 420px;
      background-repeat: no-repeat;
    }

    .main-content-case_round_2 img:hover {
      width: 420px;
      background-image: url(../img/sep.svg);      
    }

    .main-content-case_round {
      display: none;
    }

    .p-case {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 170%;
      color: #000000;
      width: 570px;
    }

    .underscore {
      max-width: 510px;
    }

    .description_name {
      display: flex;
      flex-direction: column;
      margin-bottom: 60px;
    }

    .__about-us__num {
      display: flex;
      flex-wrap: wrap;
    }

    .__num {
      width: clac(100% / 2);
      /* margin-right: 2rem; */
      margin-bottom: 2rem;
    }
}


@media screen and (max-width: 479px) {

  .menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    z-index:4;
    overflow: hidden;
  }
  
  .menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    transition: all 0.5s;
    z-index:4;
  }
  
  .menu-btn span:nth-of-type(2) {
    top: calc(50% - 5px);
  }

  .menu-btn span:nth-of-type(3) {
    top: calc(50% + 5px);
  }
  
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: white;
    background-image: url(../img/1.svg);
    transform: translateX(-100%);
    transition: transform 0.5s;
    z-index: 2;
    margin-top: 68px;
    visibility: visible;
  }
  
  .menu.active {
    transform: translateX(0);
  }
  
  .menu li {
    list-style-type: none;
  }
  
  .menu-btn.active span:first-of-type {
    transform: translateX(100%);
  }
  
  .menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .humMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 52px;
    margin-bottom: 60px;
  }

  .humMenu li {
    font-family: 'Druk Text Wide Cyr';
    font-style: normal;
    font-weight: 999;
    font-size: 26px;
    line-height: 33px;
    margin-bottom: 30px;
  }

  .humMenu a {
    text-decoration: none;
    color: black;
  }

  .language {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .language :nth-child(1) {
    margin-right: 20px;
  }

  .language a {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 20px;
    color: #000000;
  }

  .header-menu-ul__menu {
    display: none;
  }

  .h1-like-one {
    font-weight: 999;
    font-size: 20px;
    line-height: 33px;
    color: #000;
    margin: 0;
    margin-bottom: 10px;
  }

  .h1-like-three {
    font-family: 'Druk Text Wide Cyr';
    font-style: normal;
    font-weight: 999;
    font-size: 20px;
    line-height: 25px;
    color: #000;
  }

  .header-heading__heading {
    margin-bottom: 10px;
  }

  .h1-like-two {
    font-family: 'Druk Text Wide Cyr';
    font-style: normal;
    font-weight: 999;
    font-size: 20px;
    line-height: 33px;
    /* color: #2F44FF; */
    margin-bottom: 5px;
    /* margin-left: 30px; */
    /* width: 320px; */
  }


  .header {
    padding-left: 0px;
    padding-right: 0px;
    /* overflow-x: hidden; */
    margin: 0;
  }

  .humburger {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* overflow-x: hidden; */
  }

  .header-heading {
    margin-bottom: 104px;
  }

  .header-heading__heading {
    margin: 0;
  }
  
  .humburger-fill {
    fill: black;
  }

  body.dark .humburger-fill {
    fill: white;
  }

  .margin-right-p {
    margin-right: 0;
  }

  .margin-right-ul {
    margin-right: 0;
  }

  .right-hum {
    margin-right: 275px;
  }

  .left-dsafra {
    margin-left: 10px;
  }

  .main-container {
    flex-direction: column;
    width: 320px;
  }

  .h2-like {
    font-family: Druk Text Wide Cyr;
    font-style: normal;
    font-weight: 999;
    font-size: 22px;
    line-height: 150%;
    color: #000;
    width: 112px;
  }

  .main-content-ul__list li {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000;
  }

  .main-content{
    display: flex;
    flex-direction: column;
  }

  .main-content__our_services {
    margin-bottom: 60px;
  }


  .h1-case {
    font-family: 'Druk Text Wide Cyr';
    font-style: normal;
    font-weight: 999;
    font-size: 22px;
    line-height: 28px;
    color: #000;
  }

  .main-content-case-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
  }

  .h2-name_case {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #000;
  }

  .main-content-case {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 375px;
    margin-bottom: 300px;
  }

  .p-case {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 170%;
    color: #000;
    width: 320px;
  }

  .main-content-case {
    flex-flow: wrap;
  }
  .main-content-case:nth-child(2) {
    order: 1;
  }

  /* .main-content-case-container___see_more {
    display: none;
  } */

  .main-content-case_round {
    display: none;
  }

  .main-content-case-container___see_more {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .main-content-case-container__header {
    margin-bottom: 50px;
  }

  .main-content-case_round1 img {
    width: 320px;
    margin-bottom: 30px;
  }

  .h1-about_us {
    font-family: Druk Text Wide Cyr;
    font-style: normal;
    font-weight: 999;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height */
    color: #000;
  }

  .main-content-container-about {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    /* margin-bottom: 366px; */
  }

  .description_name {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }

  .p-name {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    color: #000;
    width: 328px;
  }

  .header__about-us {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0px;
  }

  .main-content-container-info__about-us {
    margin-top: 50px;
  }

  .__about-us__num {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .right-num {
    margin-right: 0;
  }

  .__num p {
    display: flex;
    justify-content: center;
  }

  .bottom-num {
    margin-bottom: 20px;
  }

  .h1-dev {
    font-family: 'Druk Text Wide Cyr';
    font-style: normal;
    font-weight: 999;
    font-size: 22px;
    line-height: 28px;
    color: #000;
  }

  .ul-list-stages-of-development {
    display: flex;
    flex-direction: column;
  }

  .h1-tell-us {
    font-family: 'Druk Text Wide Cyr';
    font-style: normal;
    font-weight: 999;
    font-size: 25px;
    line-height: 33px;
    color: #000;
  }

  .h1-about-your-project {
    font-family: 'Druk Text Wide Cyr';
    font-style: normal;
    font-weight: 999;
    font-size: 24px;
    line-height: 33px;
    color: #000;
    margin: 0;
  }

  .li-list:nth-child(2) {
    margin-top:80px;
  }
  .li-list:nth-child(3) {
    margin-top:80px;
  }
  .li-list:nth-child(4) {
    margin-top:80px;
  }
  .li-list:nth-child(5) {
    margin-top:80px;
  }
  .li-list:nth-child(6) {
    margin-top:80px;
  }

  .main-content-container-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .formtest.active {
    display: flex;
    flex-direction: column;
    margin: 0px;
  }

  .group {
    position: relative;
    margin: 0;
    width: 100%;
  }

  .formtest :nth-child(2) {
    margin-bottom: 20px;
  }
  .formtest :nth-child(3) {
    margin-bottom: 20px;
  }
  .formtest :nth-child(4) {
    margin-bottom: 20px;
  }
  .formtest :nth-child(5) {
    margin-bottom: 20px;
  }

  .label1 {
    top: 0;
    margin-bottom: 10px;
  }

  .submit {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* justify-content: center; */
    align-items: center;
  } 

  .data-person {
    margin-bottom: 50px;
  }

  .option-disabled-selected p {
    width: 320px;
    text-align-last: auto;
  }

  .footer {
    display: flex;
    align-items: flex-start;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* margin-bottom: 200px; */
  }
  .p-footer {
    width: 320px;
  }
  .footer-adress {
    margin-bottom: 50px;
  }

  .button_test {
    display: none;
  }

  .write-button-2 {
    display: flex;
    justify-content: center;
  }

  .__about-your-project {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 80px;
  }

  .main-content-case_round1 {
    display: block;
  }

  .gamification__about-us {
    display: none;
  }

  body.dark .menu-btn span {
    background-color: white;
  }
}


@media screen and (max-width: 375px) {

  .menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    z-index:4;
    overflow: hidden;
  }
  
  .menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    transition: all 0.5s;
    z-index:4;
  }
  
  .menu-btn span:nth-of-type(2) {
    top: calc(50% - 5px);
  }

  .menu-btn span:nth-of-type(3) {
    top: calc(50% + 5px);
  }
  
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: white;
    background-image: url(../img/1.svg);
    transform: translateX(-100%);
    transition: transform 0.5s;
    z-index: 2;
    margin-top: 68px;
    visibility: visible;
  }
  
  .menu.active {
    transform: translateX(0);
  }
  
  .menu li {
    list-style-type: none;
  }
  
  .menu-btn.active span:first-of-type {
    transform: translateX(100%);
  }
  
  .menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .humMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 52px;
    margin-bottom: 60px;
  }

  .humMenu li {
    font-family: 'Druk Text Wide Cyr';
    font-style: normal;
    font-weight: 999;
    font-size: 26px;
    line-height: 33px;
    margin-bottom: 30px;
  }

  .humMenu a {
    text-decoration: none;
    color: black;
  }

  .language {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .language :nth-child(1) {
    margin-right: 20px;
  }

  .language a {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 20px;
    color: #000000;
  }

  .header-menu-ul__menu {
    display: none;
  }

  .h1-like-one {
    font-weight: 999;
    font-size: 20px;
    line-height: 33px;
    color: #000;
    margin: 0;
    margin-bottom: 10px;
  }

  .h1-like-three {
    font-family: 'Druk Text Wide Cyr';
    font-style: normal;
    font-weight: 999;
    font-size: 20px;
    line-height: 25px;
    color: #000;
  }

  .header-heading__heading {
    margin-bottom: 10px;
  }

  .h1-like-two {
    font-family: 'Druk Text Wide Cyr';
    font-style: normal;
    font-weight: 999;
    font-size: 20px;
    line-height: 33px;
    /* color: #2F44FF; */
    margin-bottom: 5px;
    /* margin-left: 30px; */
    /* width: 320px; */
  }



  .header {
    padding-left: 0px;
    padding-right: 0px;
    /* overflow-x: hidden; */
    margin: 0;
  }

  .humburger {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* overflow-x: hidden; */
  }

  .header-heading {
    margin-bottom: 104px;
  }

  .header-heading__heading {
    margin: 0;
  }
  
  .humburger-fill {
    fill: black;
  }

  body.dark .humburger-fill {
    fill: white;
  }

  .margin-right-p {
    margin-right: 0;
  }

  .margin-right-ul {
    margin-right: 0;
  }

  .right-hum {
    margin-right: 170px;
  }

  .left-dsafra {
    margin-left: 10px;
  }

  .main-container {
    flex-direction: column;
    width: 320px;
  }

  .h2-like {
    font-family: Druk Text Wide Cyr;
    font-style: normal;
    font-weight: 999;
    font-size: 22px;
    line-height: 150%;
    color: #000;
    width: 112px;
  }

  .main-content-ul__list li {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000;
  }

  .main-content{
    display: flex;
    flex-direction: column;
  }

  .main-content__our_services {
    margin-bottom: 60px;
  }


  .h1-case {
    font-family: 'Druk Text Wide Cyr';
    font-style: normal;
    font-weight: 999;
    font-size: 22px;
    line-height: 28px;
    color: #000;
  }

  .main-content-case-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
  }

  .h2-name_case {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #000;
  }

  .main-content-case {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 375px;
    margin-bottom: 300px;
  }

  /* .main-content-case_round1 {
    background-image: url(../img/see-more-present-2.svg);
    width: 320px;
    height: 200px;
    height: 335px;
    margin-top: 141px;
    cursor: pointer;
    background-repeat: no-repeat; 
  } */
  
  /* .main-content-case_round1:hover{
    background-image: url(../img/see-more-present-2.svg);
    width: 200px;
    height: 200px;
    border-radius: 100px;
  } */

  .p-case {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 170%;
    color: #000;
    width: 320px;
  }

  .main-content-case {
    flex-flow: wrap;
  }
  .main-content-case:nth-child(2) {
    order: 1;
  }

  /* .main-content-case-container___see_more {
    display: none;
  } */

  .main-content-case_round {
    display: none;
  }

  .main-content-case-container___see_more {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .main-content-case-container__header {
    margin-bottom: 50px;
  }

  .main-content-case_round1 img {
    width: 320px;
    margin-bottom: 30px;
  }

  .h1-about_us {
    font-family: Druk Text Wide Cyr;
    font-style: normal;
    font-weight: 999;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height */
    color: #000;
  }

  .main-content-container-about {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    /* margin-bottom: 366px; */
  }

  .description_name {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }

  .p-name {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    color: #000;
    width: 328px;
  }

  .header__about-us {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0px;
  }

  .main-content-container-info__about-us {
    margin-top: 50px;
  }

  .__about-us__num {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .right-num {
    margin-right: 0;
  }

  .__num p {
    display: flex;
    justify-content: center;
  }

  .bottom-num {
    margin-bottom: 20px;
  }

  .h1-dev {
    font-family: 'Druk Text Wide Cyr';
    font-style: normal;
    font-weight: 999;
    font-size: 22px;
    line-height: 28px;
    color: #000;
  }

  .ul-list-stages-of-development {
    display: flex;
    flex-direction: column;
  }

  .h1-tell-us {
    font-family: 'Druk Text Wide Cyr';
    font-style: normal;
    font-weight: 999;
    font-size: 25px;
    line-height: 33px;
    color: #000;
  }

  .h1-about-your-project {
    font-family: 'Druk Text Wide Cyr';
    font-style: normal;
    font-weight: 999;
    font-size: 24px;
    line-height: 33px;
    color: #000;
    margin: 0;
  }

  .li-list:nth-child(2) {
    margin-top:80px;
  }
  .li-list:nth-child(3) {
    margin-top:80px;
  }
  .li-list:nth-child(4) {
    margin-top:80px;
  }
  .li-list:nth-child(5) {
    margin-top:80px;
  }
  .li-list:nth-child(6) {
    margin-top:80px;
  }

  .main-content-container-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .formtest.active {
    display: flex;
    flex-direction: column;
    margin: 0px;
  }

  .group {
    position: relative;
    margin: 0;
    width: 100%;
  }

  .formtest :nth-child(2) {
    margin-bottom: 20px;
  }
  .formtest :nth-child(3) {
    margin-bottom: 20px;
  }
  .formtest :nth-child(4) {
    margin-bottom: 20px;
  }
  .formtest :nth-child(5) {
    margin-bottom: 20px;
  }

  .label1 {
    top: 0;
    margin-bottom: 10px;
  }

  .submit {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* justify-content: center; */
    align-items: center;
  } 

  .data-person {
    margin-bottom: 50px;
  }

  .option-disabled-selected p {
    width: 320px;
    text-align-last: auto;
  }

  .footer {
    display: flex;
    align-items: flex-start;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* margin-bottom: 200px; */
  }
  .p-footer {
    width: 320px;
  }
  .footer-adress {
    margin-bottom: 50px;
  }

  .button_test {
    display: none;
  }

  .write-button-2 {
    display: flex;
    justify-content: center;
  }

  .__about-your-project {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 80px;
  }

  .main-content-case_round1 {
    display: block;
  }

  .gamification__about-us {
    display: none;
  }

  body.dark .menu-btn span {
    background-color: white;
  }
}