
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0 auto;
  line-height: 1;
}

*,*:before,*:after{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;

}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-*/

.border {
  border: 1px solid;
}

BODY {
  background: url(../img/1.svg);
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding-left: 125px;
  padding-right: 125px;
  top: 0; 
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding-left: 125px;
  padding-right: 125px;
  overflow-x:hidden;
  overflow-y:hidden;
  margin-top: 120px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /* max-width: 1366px; */
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-left: 125px;
  padding-right: 125px; 
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /* max-width: 1366px; */
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;
  /* margin-bottom: 150px; */
  width: 100%;
  /* height: 20px; */
}

.header-menu-ul {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  /* width: 100%; */
}

.header-menu-ul:nth-child(1) {
  /* margin-right: 565px; */
}

.header-menu-ul__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-menu-ul__menu li {
  margin-right: 108px;
}

.header-menu-ul__menu a {
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;

}

.header-menu-ul__menu a:hover {
  color: #2F44FF;
}

.header-menu-ul__menu li:last-child {
  margin-right: 0;
}

.label-switch {
  position: relative;
  /* display: inline-block; */
  width: 60px;
  height: 30px;
}

.label-switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .1s;
  transition: .3s;
  border-radius: 14px;
  /* border: 1px solid; */
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 3.5px;
  /* background-color: white; */
  background-image: url(../img/moon.svg);
  background-repeat: no-repeat;
  -webkit-transition: .1s;
  transition: .3s;
}

input:checked + .slider {
  background-color: #2196F3;
}


input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 36px;
}


.slider.round:before {
  border-radius: 50%;
}

.margin-right-ul li:first-child {
  margin-right: 20px;
}

/* .margin-right-ul {
  margin-right: 565px;
} */

.margin-right-label {
  margin-right: 15px;   
}

.margin-right-p {
  margin-right: 80px;   
}

.p-like {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
} 

.header-menu-ul__menu li {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.header-heading_gamification {
    /* position: absolute; */
    animation: rotate 24s infinite linear;
    width: 431.55px;
    /* height: 429px; */
    z-index: 4;
    /* margin-left: calc(-25vw + 100%); */
    left: 1400px;
    /* top: -68px; */
    margin-top: -368px;
    margin-left: 1078px;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}

.header-heading {
  display: flex;
  flex-direction: column; 
  width: 100%;
} 

.header-heading__heading {
  width: 100%;
  /* margin-bottom: 20px; */
}

.header-heading__heading:nth-child(2){
  display: flex;
  justify-content: flex-end;
}





.h1-like-one {
  font-family: 'Druk Text Wide Cyr';
  font-style: super;
  font-weight: 900;
  font-size: 90px;
  line-height: 114px;
  color: #000000;
}

.h1-like-two {
  font-family: Druk Text Wide Cyr;
  font-style: super;
  font-weight: 900;
  font-size: 90px;
  line-height: 114px;
  /* border: 2px solid #2F44FF; */
  color: white;
  text-shadow: #2F44FF  1px  1px 0, 
               #2F44FF -1px -1px 0, 
               #2F44FF -1px  1px 0, 
               #2F44FF  1px -1px 0;
  /* margin-right: 240px; */
  margin-right: 50px;
}


.h1-like-three {
  font-family: 'Druk Text Wide Cyr';
  font-style: super;
  font-weight: 900;
  font-size: 90px;
  line-height: 114px;
  color: #000000;  
}

.header-heading-pading__heading {
  display: flex;
  justify-content: flex-end;
  padding-right: 140px;
}


.header-heading__anchor {
  margin-top: 120px;
  display: flex;
  justify-content: center;
}

.achor .stroke-color {
  stroke: black;
}

.achor .fill-color {
  cursor: pointer;
  fill: black;
}


.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 180px;
}

.h2-like {
  font-family:  'Druk Text Wide Cyr';
  font-style: normal;
  font-weight: 999;
  font-size: 50px;
  line-height: 150%;
  color: #000000;
  width: 230px;
}

.main-content-ul__list li {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
  border-bottom: 1px solid;
  cursor: pointer;
  padding-bottom: 30px;
  margin-bottom: 30px;
  margin-top: 10px;  
}

.main-content-ul__list li:hover {
  color: #2F44FF;
  cursor: pointer;
  cursor: url(../img/cursor.cur) 2 2, pointer;
}

body.dark {
  /* background: #000; */
  /* Rectangle */
  background: url(../img/44.png);

}

/* body.dark .header, body.dark .main, body.dark .footer {
  background: url(../img/Rectangle.svg);
} */


body.dark .h1-like-one, body.dark .h1-like-three, body.dark .p-like, body.dark .header-menu-ul__menu li, body.dark .header-menu-ul__menu a {
  color: white;
  /* text-shadow: #2F44FF  2px  2px 0, 
               #2F44FF -2px -2px 0, 
               #2F44FF -2px  2px 0, 
               #2F44FF  2px -2px 0; */
  text-shadow: #5dc8e5 0 0 10px;
}

body.dark .main-content-ul__list li:hover{
  /* color: white; */
  color: #2F44FF;
}

body.dark .main-content-ul__list li, body.dark .h2-like{
  color: white;
}

body.dark .h1-like-two {
  
  /* color: #2F44FF; */
  text-shadow: #2F44FF 0 0 20px;
}

body.dark .achor {
  fill: red;
  cursor: pointer;
}

body.dark .achor .stroke-color {
  stroke: white;
}

body.dark .achor .fill-color {
  fill: white;
}
 

.main-content-case {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1366px;
  margin-bottom: 300px;
}

.main-content-case-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 150px;
}

.main-content-case-container__header {
  margin-bottom: 150px;
}

.h1-case {
  font-family: 'Druk Text Wide Cyr';
  font-style: normal;
  font-weight: 999;
  font-size: 50px;
  line-height: 63px;
  color: #000000;
}

.main-content-case-container__name_case_one {
  margin-bottom: 30px;
}

.h2-name_case {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #000000;
}

.main-content-case-container__description_case {
  margin-bottom: 100px;
}

.p-case {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 170%;
  color: #000000;
  width: 570px;
}

.main-content-case-container__switch_case {
  display: flex;
  flex-direction: row;
  margin-bottom: 180px;
}

.__switch_case_back {
  margin-right: 65px;
}

.main-content-case-container___see_more {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.main-content-case_round {
  background-image: url(../img/cubes.png);
  width: 550px;
  height: 550px;
  margin-top: 141px;
  cursor: pointer;
}

.main-content-case_round:hover{
  background-image: url(../img/see-presentation.svg);
  width: 550px;
  height: 550px;
  border-radius: 275px;
}

@media screen and (max-width: 1366px) {
  .main-content-case_round img {
    width: 500px;
    height: 500px;
  }
  .main-content-case-container {
    margin-right: 100px;
  }
}



.main-content-case-container___see_more_img {
  cursor: pointer;
}

.__switch_case_back, .__switch_case_go {
  cursor: pointer;
}

body.dark .h1-case, body.dark .h2-name_case, body.dark .p-case{
  color: white;
}


.stroke-color2 {
  stroke:black;
}

.fill-color2 {
  fill: black;
}

body.dark .stroke-color2 {
  stroke:white;
}


body.dark .fill-color2 {
  fill: white;
}



body.dark .stroke-color2:hover {
  stroke: tomato;
}

body.dark .stroke-color2:hover {
  fill: tomato;
}

.main-content-container-about {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  width: 100%;
  margin-bottom: 366px;
}

.main-content-container__about_us {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 100%; */
  margin-right: 150px;
  
}
.name-right {
  margin-right: 30px;
}

.header__about-us {
  display: flex;
  justify-content: center;
  margin-bottom: 258px;
}

.h1-about_us {
  font-family: 'Druk Text Wide Cyr';
  font-style: normal;
  font-weight: 999;
  font-size: 50px;
  line-height: 63px;
  color: #000000;
}

.gamification__about-us {
  animation: rotate 24s infinite linear;
  width: 431.55px;
}

.main-content-container-info__about-us {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 100%;
  margin-top: 120px;
}
.h3-name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.underscore {
  width: 100%;
  border: 0.5px solid #000;
  margin-bottom: 50px;
}
.description_name {
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
}
.p-name {
  width: 370px;
}
.__about-us__num {
  display: flex;
  flex-direction: row;
}

.h1-num {
  font-family: 'Druk Text Wide Cyr';
  font-style: normal;
  font-weight: 999;
  font-size: 50px;
  line-height: 63px;
  color: #000000;
  text-align: center;
}
.right-num {
  margin-right: 70px;
}

.right-num:last-child {
  margin-right: 0px;
}

.header__name {
  margin-bottom: 50px;
}

.header-stages-of-development {
  margin-bottom: 100px;
}

.h1-dev {
  font-family: 'Druk Text Wide Cyr';
  font-style: normal;
  font-weight: 999;
  font-size: 50px;
  line-height: 63px;
  color: #000000;
}

.ul-list-stages-of-development {
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.li_dev-icon {
  margin-bottom: 40px;
}

.li-header-dev {
  margin-bottom: 19px;
}

.h3-dev {
  font-family: 'Druk Text Wide Cyr';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}

.p-dev {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  width: 330px;
}


.li-list:nth-child(3n + 2) {
  margin-top:50px;
}

.li-list:nth-child(3n + 3) {
  margin-top:100px;
}

body.dark .h1-about_us,
body.dark .h3-name,
body.dark .p-name,
body.dark .h1-dev,
body.dark .p-dev,
body.dark .h1-num,
body.dark .__num p {
  color: white;
}

body.dark .underscore {
  border: 0.5px solid white;
}